.button-underline {
  background: none;

  display: inline-block;
  position: relative;
}

.button-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

.button-underline:hover::before {
  transform: scaleX(1);
  transform-origin: bottom-left;
}