.button-background-slide {
  background-color: var(--background);
  z-index: 1;

  display: inline-block;
  position: relative;
}

.button-background-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #333399;
  z-index: -1;
  border: 1px solid transparent;
  transform: scaleX(0);
  transform-origin: left;
}

.button-background-slide:hover::before,
.button-background-slide:focus {
  transform: scaleX(1);
  transition: transform 0.4s ease-in-out;
}